{% extends 'base.html' %}

{% block body %}
<div class="main">
    <div class="container">
        <h2 class="l-main-ttl"  id="header1"><a href="/">同位体年代測定　Rb-Sr法</a></h2>
        <div id="base">
            <h3>同位体年代測定の基本式</h3>
            <div id="f">
                <div>
                    \[
                        \frac{87Sr}{86Sr} = 
                        \left(\frac{87Sr}{86Sr}\right)_0  + \frac{87Rb}{86Sr} \left(e^{λt}-1\right)
                    \]
                </div>
            </div>
        </div>
        <br>

        <table class="table table-striped table-hover">
            <thread>
                <tr class="">
                    <th scope="col">#</th>
                    <th scope="col">87Sr/86Sr</th>
                    <th scope="col">87Rb/86Sr</th>

                </tr>
            </thread>
            <h3>データベース</h3>

            <tbody id="RbSr_table">
                {% for i in range(0,n) %}
                    <tr>
                        <td> {{ i }}</td>
                        <td>{{ Sr_list[i] }}</td>
                        <td>{{ Rb_list[i] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <h3>計算結果</h3>
        <div class="container">
            <div id="isochron">
                <h5>アイソクロン</h5>
                <div>
                    \[
                        \frac{87Sr}{86Sr} = 
                        {{ b }}  + \frac{87Rb}{86Sr} \left({{ a }}\right)
                    \]
                </div>
                <br>
                <div style="margin-left: 150px;">
                    <img src="data:image/png;base64,{{ img }}" class="figure-img img-fluid rounded"/>
                </div>
            </div>
            <br>

            <div id="age" class="">
                <h5 class="">年代（傾き）</h5>
                <div id="a">
                    \[
                        \left(e^{λt}-1\right) = {{ a }}
                    \]
                    \[
                        t = {{ t }} 億年
                    \]
                </div>
                <br>
            </div>
            <br>
            <div id="initial">
                <h5>初期値（切片）</h5>
                <div id="b">
                    \[
                        \left(\frac{87Sr}{86Sr}\right)_0 = {{ b }}
                    \]
                </div>
            </div>
            <br>

            
        </div>
        <p><a class="btn btn-outline-primary" href="javascript:history.go(-1)" role="button">Return</a></p>
    </div>
</div>
{% endblock %}