{% extends 'base.html' %}

{% block body %}
<div class="main">
    <div class="container">
        <h2 class="l-main-ttl"  id="header1"><a href="/RbSr">同位体年代測定　Rb-Sr法</a></h2>
        <div>
            <h3>同位体年代測定の基本式</h3>
            <div id="f">
                <div>
                    \[
                        \frac{87Sr}{86Sr} = 
                        \left(\frac{87Sr}{86Sr}\right)_0  + \frac{87Rb}{86Sr} \left(e^{λt}-1\right)
                    \]
                    \[
                        壊変定数　λ_β = 1.42 \times 10^{-11} yr^{-1}
                    \]

                </div>
            </div>
        </div>
        <br>

        <h3>使用方法</h3>

        <br>

        <h3>データベース</h3>
        <form action="/graph" method = "POST">
            <table class="table table-striped table-hover">
                <thread>
                    <tr class="">
                        <th scope="col">#</th>
                        <th scope="col">87Sr/86Sr</th>
                        <th scope="col">87Rb/86Sr</th>
                        <th scope="col"></th>

                    </tr>
                </thread>
                <tbody id="RbSr_table">
                        <tr  id="num1">
                            <td>0</td>
                            <td><input type="number" name="Sr1" id="" step="0.000001" class="form-control" max="1" min="0"></td>
                            <td><input type="number" name="Rb1" id="" step="0.000001" class="form-control" max="1" min="0"></td>
                            <td>削除不可</td>
                        </tr>
                        <tr id="num2">
                            <td>1</td>
                            <td><input type="number" name="Sr1" id="" step="0.000001" class="form-control" max="1" min="0"></td>
                            <td><input type="number" name="Rb1" id="" step="0.000001" class="form-control" max="1" min="0"></td>
                            <td>削除不可</td>
                        </tr>
                        <tr>
                            <input type="button" value="データ入力欄追加" onclick="addForm2()">
                        </tr>
                </tbody>
            </table>
            <p style="color: red;">※２点以上のデータを入力してください</p>
            <br>      
                <input type="submit" value="Create Graph & claculation">
        </form>
        
    </div>
</div>
{% endblock %}