{% extends 'base.html' %}

{% block body %}
    <div class="main" class="">
        <div class="l-main">
          <h2 class="l-main-ttl"  id="header1"><a href="/">技術計算ツール</a></h2>
            <div class="l-main-inner">
                <h3>飽和蒸気表</h3>
                    <div>   
                      <span class="ss"><a href="/steamtable">飽和蒸気表（温度近似）</a></span>
                      <span class="ss"><a href="/steamtable_pre">飽和蒸気表（圧力近似）</a></span>
                      <span class="ss"><a href="/steamtable">蒸気・水の二相流の見かけ物性値</a></span>
                    </div>
                    <br>

                <h3>地球科学</h3>
                    <h4>同位体計算</h4>
                        <div>
                            <span class="ss"><a href="/RbSr">Rb-Sr法</a></span>
                            <span class="ss"><a href="">Sm-Nd法</a></span>
                            <span class="ss"><a href="" class="">U-Rb法</a></span>
                            <span class="ss"><a href="" class="">炭素C14</a></span>
                        </div>
                        <br>
                    <h4>岩種化学</h4>
                        <div>
                          <span class="ss"><a href="" class="">REEパターン</a></span>
                          <span class="ss"><a href="" class="">花崗岩岩種判定</a></span>
                        </div>
                        <br>
                    <h4>防災地質</h4>
                        <div>
                          <span class="ss"><a href="" class="">地すべり</a></span>
                          <span class="ss"><a href="" class="">落石・崩壊</a></span>
                          <span class="ss"><a href="" class="">土石流</a></span>
                          <span class="ss"><a href="" class="">擁壁・盛土</a><span>
                        </div>
                        <br>
                <h3>プラントエンジニアリング</h3>
                    <h4>熱力学</h4>
                        <div>
                          <span class="ss"><a href="">等エンタルピー計算</a></span>
                          <span class="ss"><a href="">熱交換器</a></span>
                        </div>
                        <br>
                      
                    <h4>配管設計</h4>
                        <div>
                          <span class="ss"><a href="">蒸気圧力損失</a></span>
                          <span class="ss"><a href="">熱水圧力損失</a></span>
                          <span class="ss"><a href="">蒸気熱水二相流圧力損失</a></span>
                          <span class="ss"><a href="">放熱量</a></span>
                        </div>

                    <h4>バルブ設計</h4>
                        <div>   
                          <span class="ss"><a class="" href="">Cv値</a></span>
                          <span class="ss"><a class="" href="">安全弁</a></span>
                        </div>
                        <br>

            </div>
        </div>
    </div>
{% endblock %}